@font-face {
  font-family: armata-regular;
  src: url("../font/Armata-Regular.otf") format("opentype");
}

body {
  background-color: #f6f6f6;
  font-family: armata-regular;
}

div.logo {
  margin: 0 auto;
  margin-top: 5%;
  width: 60%;
}

p {
  text-align: center;
  color: #013143;
}

b {
  color: #E65A3B;
}

.date {
  margin-top: 45px;
  margin-bottom: 45px;
  font-size: 24px;
}
